<div class="container pt-4">
  <h2>Stupid coaching</h2>
  <div class="my-4">
    <p>Ask your coach anything</p>
    <form action=answer data-turbo="false" class="input-group">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="input-group-text bg-primary">
    </form>
  </div>
</div>
